
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%; /* White */
    --foreground: 0 0% 0%; /* Black */
    --primary: 0 0% 0%; /* Black */
    --primary-foreground: 0 0% 100%; /* White */
    --secondary: 0 0% 90%; /* Light Gray */
    --secondary-foreground: 0 0% 0%; /* Black */
    --muted: 0 0% 90%; /* Light Gray */
    --muted-foreground: 0 0% 50%; /* Gray */
    --accent: 0 0% 90%; /* Light Gray */
    --accent-foreground: 0 0% 0%; /* Black */
  }
}

@layer base {
  * {
    @apply border-border selection:bg-black/20 selection:text-white;
    cursor: default;
  }

  body {
    @apply bg-background text-foreground antialiased;
  }

  .glass-panel {
    @apply rounded-2xl border border-black/10 bg-white/50 p-6 shadow-xl backdrop-blur-lg transition-all hover:shadow-black/10;
  }
}
